table{
    width:100%;
}
   
table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    text-align: center;
}

thead{
    background-color: lightgray;
}

tr{
    max-height: fit-content;
}

td{
    font-size: x-large;
    width: 33%;

    align-items: center;
    justify-content: center;
}

td img{
    display: flex;
    width: 45%;
    height: auto;

    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}
